.btn {
  &--inline {
    border: none;
    color: var(--text-color);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    
    

    &:focus {
      outline: none;
    }
  }
}

