.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__ul {
    font-size: 1.4rem;
    margin-top: 3.5rem;
    list-style: none;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-fourth);
      transform: scaleY(0);
      transition: transform .3s, width cubic-bezier(1, 0, 0, 1) .4s .2s, background-color .1s;

    }

    &:hover,
    &--active {
      &::before {
        transform: scaleY(1);
        width: 100%;
      }
    }

    &:active {
      &::before {
        background-color: var(--color-third);
      }
    }
  }

  &__link:link,
  &__link:visited {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  border-bottom: 1px solid var(--color-fourth);
  align-items: center;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;

  }

  &__stars:hover &__icon {
    animation: pulsate 1s infinite;
    border-radius: 100px;
  }


  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--text-color);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-left: .5rem;
  }

  &__rating {
    background-color: var(--color-third);
    color: var(--white);
    margin-left: 3rem;
    padding: 0.5rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -5px;
  }

  &__rating-count {
    font-size: .9rem;
    text-transform: uppercase;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.25);
    box-shadow: var(--shadow-light);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@media only screen and (max-width: $tablet) {
  .sidebar {
    &__ul {
      display: flex;
      margin: 0;
    }

    &__item {
      flex: 1;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: .5rem;
      }
    }

    &__link {
      justify-content: center;
      padding: 2rem;
    }
  }

  .legal {
    display: none;
  }
}